$primary: teal;
$secondary: lightgray;
$warn: tomato;

@mixin elevate($color, $elevate) {
  //box-shadow: 0 10px 15px -10px rgba(0, 0, 0, .4);
  box-shadow: 0 $elevate +px $elevate + 5 +px +' ' -$elevate +px rgba($color, ($elevate * 4)/100);
}